body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: aqua;
   
}

.container {
    background-color: #f78a8a;
    padding: 20px;
    border: 5px solid red;
    border-radius: 5px ;
    box-shadow: 0 0 10px rgba(142, 6, 6, 0.1);
    text-align: center;
   width: 500px;
}

h1 {
    margin-bottom: 10px;
    font-size: 24px;
}

textarea {
    width: 80%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #100909;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}

.counter {
    display: flex;
    justify-content: space-between;
}

.counter span {
    font-size: 16px;
}
